# להתעלם מכל הקבצים
*

# לא להתעלם מקובץ .gitignore
!.gitignore


# לא להתעלם מקובץ README.md
!README.md

# לא להתעלם מתיקיות מסוימות
!Python/
!Html/
!Bash/


!styles.css
!Downloads.html
!Website.png
!script.js