# התעלמות מכל הקבצים כברירת מחדל
*

# לא להתעלם מקובץ .gitignore עצמו
!.gitignore

# לא להתעלם מקובץ README.md
!README.md

# לא להתעלם מתיקיות מסוימות
!Python/
!Html/
!Bash/
!Jenkins/

# ביטול ההתעלמות מהתיקייה .github וכל מה שבתוכה
!.github
!.github/
!.github/workflows
!.github/workflows/
!.github/workflows/frist-pipline.yml

# ביטול ההתעלמות מקבצים ספציפיים
!styles.css
!Downloads.html
!Website.png
!script.js
!Jenkinsfile
!pythonJenkins.py
