# להתעלם מכל הקבצים
*

# לא להתעלם מקובץ .gitignore
!.gitignore


# לא להתעלם מקובץ README.md
!README.md

# לא להתעלם מתיקיות מסוימות
!Python/
!Html/
!Bash/
!Jenkins
!.github/workflows/frist-pipline.yml


!styles.css
!Downloads.html
!Website.png
!script.js
!Jenkinsfile
!pythonJenkins.py
